################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/libtcod-1.11.1-x86_64-msvc/libtcod-1.11.1-x86_64-msvc
/libtcod-1.11.1-x86_64-mingw/libtcod-1.11.1-x86_64-mingw
